@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:'Times New Roman', Times, serif;
    font: bold;
    
}
body{
    background-color: black;
}


label {
    border-radius: 50;
}

#navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(201, 201, 201);
    color: aliceblue;
}

.nav-flex {
    flex: 1;
}
.nav-flex h1 {
  font-family: "Satisfy", cursive;
    /* text-decoration: none; */
    font-size: 25px;
    color: rgb(165, 109, 36);
    /* font-family: cursive; */
}
#home a {
    text-decoration: wavy;
    font-size: 20px;
    color: rgb(18, 17, 16);
    font-family: cursive;
}
#home-page{ 
    margin-right: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
   
}
#home-page{ 
    margin-right: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
   
}
#menu{ 
    margin-right: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
   
}
#about{ 
    margin-right: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
   
}
#review{ 
    margin-right: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
   
}
#contact{ 
    margin-right: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
   
}

#search-flex {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}
#search { margin-left: 10px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    background-color: rgb(165, 109, 36);
    
}
#search-area{
    font-size: 50;
    background-color:rgb(239, 202, 154);
    font-family: 'Times New Roman', Times, serif;
   border-radius: 15%;
   
}
#car {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid  rgb(165, 109, 36);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
#car:hover {
    background:  rgb(165, 109, 36);
    box-shadow: 0 0 30px 5px rgb(239, 202, 154);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
#car:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
#car::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
#car:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
   
#container img{
    width: 100%;
}
#container h1 {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    position:absolute;
    color: #fff;
    top: 100px;
    left: 16px;
    
}

#main h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
   
    font-size: 300%;
    color:#fff;
    position:absolute;
    top: 100px;
    left: 45px;
}
#menue h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#fff;
    /* position: absolute; */
   margin-left: 550px;
    /* margin-bottom: 100px; */
    /* padding-bottom: 50px; */
}
#menue h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#181717;
  /* position: absolute; */
 /* margin-left: 550px; */
  /* margin-bottom: 100px; */
  /* padding-bottom: 50px; */
}
#Hot{
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  margin-left: 600px;
  background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
  
 
}
#cold{
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  margin-left: 600px;
  background:linear-gradient(90deg,rgb(165, 109, 36),rgb(227, 206, 180));
  
 
}
#items {
  margin-top: 25px;
    display:flex;
    /* justify-content: space-between; */
    justify-content: space-around;
}
#items p{
    color: #fff;
    left: 20px;
}
.card_1 {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background-color: #f1e8e86b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card_1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card_1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(210, 141, 14, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0f0e0e;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card_1:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #0e0e0e;
    font-weight: 700;
    font :black;
  }
  
  .card_1:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #151515;
    
    line-height: 1.4;
  }
 
  #items {
    justify-content: space-around;
    /* justify-content: space-between; */
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    gap: 10px;
    scroll-padding: 10px;
    width: 100%;
    height: 254px;
    /* background-color: white;
    border: 2px solid coral; */
  }
  #items::-webkit-scrollbar{
    width: 0;
  }
  #items .card_1 {
    scroll-snap-align: start;
    flex: 0 0 200px;
    background: linear-gradient(120deg, coral 30%, rgb(255, 187, 163) 88%, rgb(255, 185, 160) 
    40%, coral 48%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3em;
    font-weight: 400;
    font-family: sans-serif;
    border-radius: .2rem;
  }
   